body{
    background-image: url("../images/bg.png");
}

#logo{
    height:100vh;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction:column;
}
#fanartlink img{
    width:200px;
    height:auto;
    image-rendering:pixelated;
}
#fanart{
    align-items: center;
    flex-direction:column;
}
#fanart img{
    background-size:cover;
    width:450px;
}
#Q{
    background-size:cover;
    height:300px;
}